/* Defines */
:root {
  --previewWidth: 640px;
  --previewHeight: 480px;
  --fntMono: "IBM Plex Mono", monospace;
  --fntSans: "IBM Plex Sans", sans-serif;
  --fntSizeHeading: 24px;
  --fntSizeTitle: 18px;
  --fntSizeBase: 15px;
  --fntSizeSmaller: 14px;
  --clrText: #ccc;
  --clrTextFaint: #888;
  --clrTextFainter: #777;
  --clrTextFaintest: #444;
  --clrTextTerminal: #8d8b76;
  --clrTextError: #e17474;
  --clrBodyBg: #181818;
  --clrPanelBg: #282828;
  --clrPanelBgLighter: #444;
  --clrEditorBg: #282828;
  --clrControl: #9f7e52;
  --clrControlBg: #54432c;
  --clrControlHover: #d08e4c;
}

/* Global overrides */
* { box-sizing: border-box; scrollbar-color: #333 var(--clrPanelBg); }
::-webkit-scrollbar { background-color: var(--clrPanelBg); width: 8px; }
::-webkit-scrollbar-thumb { background-color: #333; }

a { color: #8bb3e0; text-decoration: none; }
a:hover { text-decoration: underline; }

code { font-size: 90%; }

& input[type=text] {
  box-shadow: none; -webkit-box-shadow: none; -webkit-appearance: none; outline: none;
  -webkit-border-radius: 0px; border-radius: 0; border: none;
  font-family: inherit; color: var(--clrText); background-color: var(--clrPanelBg);
}

/* Layout, specifics */
html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
html { background-color: var(--clrBodyBg); padding: 10px; }
body {
  font-family: var(--fntSans); font-size: var(--fntSizeBase);
  color: var(--clrText);
}

app {
  margin: 0 auto; width: 100%; max-width: 1200px; height: 100%;
  display: flex; align-items: flex-start; gap: 10px;
  & button {
    display: block; border: none; margin: 0; padding: 0; background-color: transparent;
    & svg { width: 100%; height: 100%; }
    & svg * { stroke: var(--clrControl); }
    &:hover svg * { stroke: var(--clrControlHover); }
    &[disabled] svg * { stroke: var(--clrTextFainter); }
  }
  & button.small { width: 20px; height: 20px;}
  & button.large { width: 32px; height: 32px;}
  & sketchlist { width: 250px; }
  & sketch { flex-grow: 1; }
}

modal {
  display: none; &.visible { display: block; }
  position: fixed; width: 100%; height: 100%; top: 0; left: 0;
  padding: 50px 20px;
  background-color: #00000080; color: var(--clrText);
}

modal content {
  display: none; &.visible { display: block; }
  width: 100%; max-width: 500px; margin: 0 auto;
  background-color: var(--clrPanelBgLighter); border: 1px solid var(--clrTextFainter);
  padding: 20px;
  & h2 { margin: 0 0 20px 0; font-size: var(--fntSizeHeading); }
  & p { margin: 10px 0 10px 0; }
  & button { margin: 0; padding: 4px 10px; border-radius: 2px; }
  & span.feedback { display: none; }
  & span.feedback.visible { display: inline; }
  & .error { color: var(--clrTextError); }
  & input[type=text] {
    border: 1px solid var(--clrTextFainter); font-size: var(--fntSizeTitle); padding: 5px;
  }
}

sketchlist {
  display: flex; flex-direction: column; align-items: stretch;
  height: 100%; max-height: 100%; padding: 10px 0 0 10px; overflow-y: hidden;
  background-color: var(--clrEditorBg); border: 1px solid var(--clrTextFaintest);
  & h2 { margin: 0 0 20px 0; }
  & items { flex-grow: 1; overflow-y: scroll; display: block; }
  & a { display: block; margin-bottom: 20px; color: inherit; text-decoration: none; }
  & a:hover { text-decoration: none; }
  & h3 { margin: 0; font-size: var(--fntSizeBase); color: var(--clrControl); }
  & a:hover h3 { color: var(--clrControlHover); }
  & changedAt { display: block; }
  & changedBy { display: block; font-style: italic; }
}

sketch {
  height: 100%; max-height: 100%; display: flex; flex-direction: column; gap: 10px; align-content: stretch;
}

sketchHeader {
  height: 54px; padding: 10px 20px;
  display: flex; align-items: center; justify-content: space-between; gap: 4px;
  background-color: var(--clrEditorBg); border: 1px solid var(--clrTextFaintest);
  font-size: var(--fntSizeTitle);
}

dirty { display: none; }
sketch.dirty dirty { display: block; }

h2 { margin: 0; font-size: var(--fntSizeHeading); }
expander { flex-grow: 1; }

sketchSource {
  height: 100%; max-height: 100%; position: relative; overflow-y: hidden;;
  background-color: var(--clrEditorBg); border: 1px solid var(--clrTextFaintest);
  font-family: var(--fntMono);
  & .CodeMirror-linenumber { color: var(--clrTextFainter); }
}
.editorBg {
  position: absolute; width: 100%; height: 100%; max-height: 100%;
  background-color: black; opacity: 0.0;
  transition: background-color ease-out 1.5s, opacity  ease-out 1.5s;
}
.editorBg.error { background-color: red; transition: none; opacity: 0.2; }
.editorBg.apply { background-color: #aaa; transition: none; opacity: 0.2; }
sketchSource .CodeMirror.cm-s-monokai {
  font-family: var(--fntMono); font-size: var(--fntSizeBase);
  max-height: 100%; height: 100%;
  color: var(--clrText);
  background-color: transparent;
  & .CodeMirror-gutters { background-color: transparent; }
  & .CodeMirror-scrollbar-filler { background-color: transparent; }
  & .cm-scroller { font-family: var(--fntMono); overflow-y: auto; }
  & .cm-gutters { background-color: transparent; border: none; }
  & .cm-activeLineGutter { background-color: #303030; }
  & .cm-content { background-color: transparent; }
  & .cm-activeLine { background-color: #ffffff10; }
  & .cm-cursor { border-left: 1px solid #aaa; border-right: 1px solid #aaa; }
  & .cm-selectionMatch { background-color: unset; }
  & .cm-panels { background-color: transparent; }
  & .cm-panels.cm-panels-bottom {
    border-top: 2px solid var(--clrTextFainter); padding: 3px; height: 24px;
  }
  & .cm-panels p { color: var(--clrText); }
  & .cm-highlight-bad { background: rgba(255, 128, 128, 0.3); }
  & .cm-highlight-good { background: rgba(128, 255, 128, 0.3); }
  & .cm-comment { color: #a4c7a4; }
  & .cm-variable {color: var(--clrText); }
}



/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('static/ibm-plex-mono-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: url('static/ibm-plex-mono-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('static/ibm-plex-sans-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: url('static/ibm-plex-sans-v19-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('static/ibm-plex-sans-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: url('static/ibm-plex-sans-v19-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

